* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  color: #fff;
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background: #1b1b1d;
}
li {
  cursor: pointer;
  list-style-type: circle;
  margin: 2rem 0;
  margin-left: 20px;
  text-transform: capitalize;
  font-weight: 500;
  &:hover {
    color: #feac5e;
  }
}
h1{
  font-size: 3.6rem;
  margin-top: 4.8rem;
}
p,
li,
button{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  line-height: 1.6;
}
button {
  background-color: #f5ee62;
  border-radius: 10rem;
  margin-right: 3.6rem;
  padding: 0.6rem 2.4rem;
  transition: all 0.3s linear;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem #f5ee62;
    color: #f5ee62;
  }
}
button {
  height: 4rem;
}
.main-todo-div {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    height: auto;
  }
input {
  padding: 6px 2px;
  min-width: 32rem;
  font-size: 18px;
  border-radius: 0.6rem;
  border: none;
  margin-right: 1.2rem;
}
hr{
  margin-bottom: 3.2rem;
}
li:hover + .deleteBtn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem #f5ee62;
  color: #f5ee62;
}
