*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20rem;
}
#addData{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
#addData:hover{
    background: #000;
    border:1px solid orange;
}
#getData{
    color: white;
    margin-left: 20px;
    border: none;
    margin-right: 20px;
    background-color: green;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}
#getData:hover{
    background: #000;
    border:1px solid green;
}
#removeData{
    color: white;
    cursor: pointer;
    border: none;
    background-color: lightskyblue;
    padding: 10px 20px;
    border-radius: 20px;
}
#removeData:hover{
    background: #000;
    border:1px solid lightskyblue;
}