* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  font-family: sans-serif;
}
h1 {
  color: white;
  margin-top: 40px;
}
button {
  background: #f5ee62;
  border: none;
  color: black;
  border-radius: 20px;
  font-size: 14px;
  margin: 20px 20px 0px 0px;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

